<div class="container">
  <div class="row">
    <h1 class="text-center">Créer un Partner</h1>
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label class="control-label " for="slug">Slug</label>
          <input class="form-control" id="slug" name="slug" type="text" value=""/>
        </div>

        <div class="form-group">
          <label class="control-label requiredField" for="partnerstatus">PartnerStatus</label>
          <input class="form-control" id="partnerstatus" name="partnerstatus" type="text"/>
        </div>

        <div class="form-group">
          <label class="control-label " for="connectortypes">ConnectorTypes</label>
          <input class="form-control" id="connectortypes" name="connectortypes" type="text"/>
        </div>

        <div class="form-group">
          <label class="control-label " for="settings">Settings</label>
          <textarea class="form-control" cols="40" id="settings" name="settings" rows="10"></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-primary " name="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>