@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "colors";

/*Application*/

body{
  background-color: white;
  font-family: times;
}

nav{
  border-radius: 0;
  width: 100%;
  top: 0px; 
  z-index: 3;
  background-color: $kermit-green;
}

.btn-primary:visited {
  color: $white;
}

.li .navButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.li .navButton:after{
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.li:hover .navButton{
  padding: 25px;
  display: inline-block;
}

.li:hover .navButton:after{
  opacity: 1;
  right: 0;
}

.nav-wrapper{
  min-height: 70px;
}

.navbar-brand{
  font-size: 50px;
  color: $white;
  font-family: times;
}

#spySetUp{
  position: relative;
}

#title:active {
  color: $white;
  background-color: transparent;
  text-decoration: none;
}

#title:hover {
  color: $white;
  background-color: transparent;
  text-decoration: none;
}

#title:link {
  color: $white;
  background-color: transparent;
  text-decoration: none;
}

#title:visited {
  color: $white;
  background-color: transparent;
  text-decoration: none;
}

/*index*/

#header{
  text-align: center;
  font-size: 60px;
}

.back-button{
  border-radius: 100%
}